/*
Etheya Ltd.
Brian Coult
+44 07541959936
http://www.etheya.com

LAYOUT.CSS
*/


/* Site Styles */
body        { font: 13px/20px "ff-dagny-web-pro", arial, sans-serif; font-weight: 400; text-align: left; }

/* Typography */
/********************************************/
h1, h2, h3, h4, h5  { font-family: "museo-slab", arial, sans-serif; color: #fff; font-weight: 500; }
h1                  { font-size: 36px; color: #fff; }
h2                  { font-size: 26px; color: #fff; margin: 15px 0 10px 0; }
h3                  { font-size: 22px; color: #5bc0de; }
h4                  {  }
h5                  {  }
p                   {  }
ul                  { padding-left: 0; list-style-position: inside; list-style-type: square; }
li                  {  }

.welcome h2 { font-size: 34px }
.logo { margin-top: 30px; }

/* Main Divs */
header              {  }
nav                 {  }
footer              { margin: 80px 0 0 0; padding: 20px 0; background: #1e2021; color: #6a6e73; border-top: 5px solid #686b6f; }
.welcome            { margin-bottom: 40px; }
.profiles           { margin-top: 30px; }
.standout { margin: 40px 0; background: #1e2021;  font-size: 20px; padding: 14px 14px 14px 14px; color: #fff; line-height: 30px}


/* Links */
a:link, a:visited   { color: #d95e0b; text-decoration: none; }
a:hover,
a:visited:hover     { color: #d95e0b; text-decoration: none; }

/* Footer */
footer p            {  }
footer a:link,
footer a:visited,
footer a:visited:link { color: #6a6e73; }
footer a:hover,
footer a:visited:hover  { color: #fff; }

/* Nav */
.navbar { margin: 26px 0 20px 0; border-radius: 0; min-height: 42px; font-family: "ff-meta-serif-web-pro", arial, sans-serif; text-transform: uppercase; background: none; border: none; border-top: 1px dotted #3c3d3e; border-bottom: 1px dotted #3c3d3e;  }
.navbar .nav > li { font-size: 17px; }
.navbar .nav > li > a { border: none; color: #686b6f; padding: 12px 14px 0 14px; }
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover { background: none; color: #fff; border-bottom: none; }

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus { background: none; color: #fff; }
.navbar .nav,
.navbar .nav > li { float:none; display:inline-block; *display:inline; /* ie7 fix */ *zoom:1; /* hasLayout ie7 trigger */ vertical-align: top; }


.rotation                     { margin-bottom: 40px; }

/* Profiles */
.profiles img { margin-left: 40px; }


/*
section, div, p, a, li, td { -webkit-text-size-adjust:none; }

